@font-face 
{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");
    font-display: swap;
}

@font-face 
{
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
}

html
{
    height: 100%;
    text-align: center;
}

ul
{
    list-style-type: none;
}

.page-header
{
    text-align: left;
    box-sizing: content-box;
    height: 65px;
    display: grid;
    grid-template-columns: 120px 2fr;
    column-gap: 75px;
    color: #ffffff;
}

.logo
{
    margin-left: 70px;
}

.navigation
{
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 75px;
    align-items: center;
}

.navigation-list
{
    display: flex;
}

.navigation-list-user
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.navigation-link
{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    align-items: center;
}

.navigation-button
{
    border-radius: 5px;
    background: #756157;
    border-style: none;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    line-height: 20px;
    margin-right: 10px;
}

.navigation-item
{
    margin: 0 17px;
}

body
{
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 1200px;
    color: #242424;
    margin: 0 auto;
    background-color: #fbf7f4;
}

.main-index
{
    color: #000000;
    background-color: #ffffff;
}

.welcoming
{
    background-image: url("../images/index-background2.png");
    width: 1200px;
    height: 485px;
}

.description
{
    height: 200px;
}

.description-preview
{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    width: 800px;
    margin: 63px auto auto;
}

.description-info
{
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    padding-top: 30px;
    margin: auto auto 90px;
}

.benefits-list
{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.benefits-atribute
{
    width: 400px;
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 85px;
    box-sizing: border-box;
}

.benefits-picture
{
    height: 384px;
}

.N1, .N7
{
    background-color: #82B3D3;
    color: white;
}

.N3, .N5, .N10, .N8
{
    background: rgba(131, 179, 211, 0.12);
}

.N9
{
    background: rgba(131, 179, 211, 0.2);
}

.lower-box
{
    height: 367px;
}

.lower
{
    padding-top: 41px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.lower-description
{
    font-size: 20px;
    line-height: 26px;
}

.searching-button
{
    background: #756157;
    padding: 10px 100px;
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 35px;
}

.mailing-box
{
    height: 411px;
    background-image: url("../images/background.jpg");
}

.mailing-list
{
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    padding: 94px 0 0;
}

.mailing-list-description
{
    color: #ffffff;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 20px;
}

.email-input
{
    border-style: none;
    padding: 22px 30px;
    width: 600px;
    border-radius: 10px 0 0 10px;
    margin-right: -5px;
}

.email-input-send
{
    font-weight: 700;
    color: white;
    background: #82B3D3;
    padding: 22px 30px;
    border-style: none;
    border-radius: 0 10px 10px 0;
}

.footer-page
{
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.contacts-list
{
    display: flex;
    margin-left: 40px;
}

.contacts-number
{
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    position: relative;
    left: 20%;
}
